<div fxLayout="row" fxFlexFill>
  <div fxFlex></div>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="!submited; else elseBlock"
  >
    <mat-card
      style="width: 400px; padding-top: 15px;"
      align="center"
      fxLayout="column"
    >
      <span style="font-size: 1.2rem; padding: 20px;">COMUNEV</span>
      <form
        [formGroup]="signUpForm"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput type="text" formControlName="FirstName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="LastName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="Username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="Password" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>DOB(mm/dd/yyy)</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="Dob" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>country</mat-label>
          <mat-select formControlName="Country">
            <mat-option>Other</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">{{
              state
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="signup()">
          Sign Up
        </button>
      </form>
    </mat-card>
  </div>
  <ng-template #elseBlock>
    <div
      fxLayoutAlign="center center"
      style="width: 400px; padding-top: 15px;"
      fxLayout="column"
    >
      <span> successfuly sign up !</span>
      <button mat-raised-button color="primary" (click)="signup()">
        back to Sign Up page
      </button>
    </div>
  </ng-template>
  <div fxFlex></div>
</div>
